[submodule "example-p5-xslt"]
	path = example-p5-xslt
	url = https://github.com/EpiDoc/Stylesheets.git
[submodule "guidelines/xslt/TEI-Stylesheets"]
	path = guidelines/xslt/TEI-Stylesheets
	url = https://github.com/TEIC/Stylesheets.git
	branch = released
