
body  {
background:white;
margin:0px;
padding:8px;
}

*[lang]  {
font-style:italic;
}

*[lang|="en"] {
font-style:normal;
}

*[lang="grc"] {
font-style:normal;
}

div  {
background:white;
border: none;
font-family: "Gentium",serif;;
font-size: 1em;
font-style: normal;
font-weight: normal;
margin:0px;
max-width: 100%;
padding:0px;
text-indent: 0px;
}

#htmlcontent {
}

#htmlcontent div {
margin-left: 4px;
margin-right %OFFHORIZ%;
}

#htmlheader  {
background:pink;
margin-bottom:8px;
}


#htmlnavigation {
background: #CCC;
font-size: 0.7em;
font-family: "Arial Narrow",sans-serif;;
font-style: italic;
margin-bottom: 8px;
padding: 0px;
padding-left: 4px;
padding-right: 4px;
}

.bibliography {

}

.commentary {

}

.description {

}

.diplomatic {

}

.edition {

}

.history {

}

.metadata {

}

.translation {

}



h1, h2, h3, h4, h5, h6  {
font-family:"Arial Narrow",sans-serif;;
font-style:normal;
font-weight:normal;
margin:0px;
padding:0px;
}

h1  {
border: none;
font-size:1.4em;
padding-left: 4px;
}

h2  {
border-bottom: thin solid #555;
font-size:1.2em;
}

h3  {
font-size:1em;
}

h4  {
font-size:0.8em;
}

h5  {
font-size:0.6em;
}

h6  {
font-size:0.4em;
}

p {
margin: 0px;
margin-top: 8px;
margin-bottom: 8px;
padding: 0px;
}

.linenumber {
color: #555;
font-family: "Arial Narrow",sans-serif;;
font-size: 0.7em;
left: -2em;
padding-right: 0.2em;
position: absolute;
text-align: right;
top: auto;
}

.edition *.abstract {
left: 2em;
line-height: 1.4;
margin-top: 8px;
margin-bottom: 8px;
position: relative;
padding-right: 2em;
}

.translation p, .translation *.abstract, #htmldocumentmeta p {
padding-left: 2em;
padding-right: 2em;
}

.edition span.personal-name, .edition span.place-name {
background: pink;
}

.edition span:hover {
border: thin solid red;
}

.edition a.personal-name, .edition a.placename {
color: black;
background: pink;
text-decoration: none;
}

.edition a.personal-name:visited, .edition a.place-name:visited {
color: #555;
}

.edition a.personal-name:hover, .edition a.place-name:hover {
color: red;
text-decoration: underline;
}

.edition a.personal-name:active, .edition a.place-name:active {
color: red;
}






